.sub_card {
  height: 425px;
  width: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: #8656e0;
}

.btn:hover {
  background-color: #8656e0d0;
}

.btnW {
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.form {
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.control {
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
